<<<<<<< HEAD
<h1>Help</h1>
<p>
Help on Ruby on Rails Tutorial about the sample app at the
<a href="http://railstutorial.org/feedback">feedback page</a>.
</p>
=======
<h1>Help </h1>
<p>
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
Find help on Ruby on Rails 
with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This is a help file</p
>>>>>>> static-pages
